# Pliki z danymi poufnymi i konfiguracją środowiska
.env
GoogleService-Info.plist
ServiceDefinitions.json
google-services.json

# Pliki konfiguracyjne IDE
.idea/
.vscode/

# Pliki systemowe
.DS_Store

# Katalogi build i pliki generowane przez Flutter/Dart
build/
.packages
.pub-cache
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Pliki generowane specyficzne dla iOS / Xcode
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.moved-aside
*.xcuserstate
xcuserdata/
DerivedData/
Icon?
profile
*.tags*
*.swp
Pods/
**/.symlinks/
Runner/GeneratedPluginRegistrant.*

# Wyjątki do powyższych reguł (jeśli są potrzebne)
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3